<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forest Fire Detection</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
</head>

<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>🔥FireAI</h2>
            <nav>
                <a href="{{ url_for('dashboard') }}">Dashboard</a>
                <a href="{{ url_for('uploads_page') }}">Uploads</a>
                <a href="{{ url_for('results') }}">Results</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </nav>
        </aside>

        <!-- Main Content -->
        <main class="main">
            <header class="topbar">
                <h1>Forest Fire Detection</h1>
                <div class="user-info">
                    <span class="username">Welcome, {{username}}</span>
                    <div class="avatar">
                        <i class="ri-user-6-line"></i>
                    </div>
                </div>
            </header>


            <section class="cards">
                <!-- Upload Card -->
                <div class="card">
                    <h3>Upload Image</h3>
                    <form action="/dashboard" method="post" enctype="multipart/form-data">
                        <input type="file" name="image" required />
                        <button type="submit">Detect Fire</button>
                    </form>

                </div>



                <!-- Result Card -->
                <div class="card result">
                    <h3>Prediction Result</h3>
                    {% if prediction %}
                    <h3 style="margin-top:20px;">{{ prediction }}</h3>
                    {% if image_path %}
                    <img src="{{ url_for('uploaded_file', filename=image_path)}}" width="300">
                    {% endif %}
                    {% else %}
                    <p class="result-text">No Prediction Yet</p>
                    {% endif %}
                </div>
            </section>
        </main>
    </div>



    <script>
    // This forces the page to reload if served from cache
    window.onpageshow = function(event) {
        if (event.persisted) {
            window.location.reload();
        }
    };
</script>

</body>

</html>