absl-py==2.1.0
asgiref==3.8.1
astunparse==1.6.3
beautifulsoup4==4.12.3
blinker==1.8.2
CacheControl==0.14.2
cachetools==5.5.2
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
contourpy==1.2.1
cryptography==44.0.1
cycler==0.12.1
DateTime==5.5
Django==5.1.6
django-cors-headers==4.7.0
djangorestframework==3.15.2
firebase-admin==6.6.0
Flask==3.0.3
flatbuffers==24.3.25
fonttools==4.53.1
gast==0.6.0
google-api-core==2.24.1
google-api-python-client==2.162.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.2
google-cloud-firestore==2.20.0
google-cloud-storage==3.0.0
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.68.0
grpcio==1.71.0rc2
grpcio-status==1.71.0rc2
h5py==3.11.0
httplib2==0.22.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==3.4.1
kiwisolver==1.4.5
libclang==18.1.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
mdurl==0.1.2
ml-dtypes==0.4.0
mpmath==1.3.0
msgpack==1.1.0
namex==0.0.8
nltk==3.8.1
numpy>=1.21.0,<1.24.0
opt-einsum==3.3.0
optree==0.12.1
packaging==24.1
pandas==2.2.3
pillow==10.4.0
proto-plus==1.26.0
protobuf==5.29.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.18.0
pyjokes==0.6.0
PyJWT==2.10.1
pyparsing==3.1.2
pyperclip==1.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.1
pywhatkit==5.4
regex==2024.7.24
requests==2.32.3
rich==13.7.1
rsa==4.9
scikit-learn==1.6.1
scipy==1.15.2
setuptools==71.1.0
six==1.16.0
soupsieve==2.5
sqlparse==0.5.3
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
tflearn==0.5.0
threadpoolctl==3.5.0
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2025.1
uritemplate==4.1.1
urllib3==2.2.2
Werkzeug==3.0.3
wheel==0.43.0
wikipedia==1.4.0
wrapt==1.16.0
zope.interface==6.4.post2

